"*":
  "exception-reporting":
    userId: "f6770c01-bee0-d289-cf10-18659308c263"
  "release-notes":
    viewedVersion: "0.78.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "4dff785e50c988abc40befce10d8599526202210"
  editor:
    fontSize: 12
    invisibles: {}
  core:
    themes: [
      "unity-ui"
      "railscast-theme"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    disabledPackages: [
      "minimap"
      "linter-ruby"
      "vim-mode"
    ]
  "tree-view":
    hideIgnoredNames: true
  "linter-rubocop":
    executablePath: "/Users/deimel/.rvm/gems/ruby-1.9.3-p551/bin/rubocop"
  "git-diff":
    showIconsInEditorGutter: true
  "atom-beautify":
    _analyticsUserId: "04df584f-6707-405d-8d77-14ac82286b82"
    beautifyEntireFileOnSave: false
    analytics: false
  "linter-ruby":
    rubyExecutablePath: "/Users/deimel/.rvm/rubies/ruby-1.9.3-p551/bin/ruby"
  linter:
    lintOnFly: false
    showErrorTabLine: true
    showErrorInline: false
  "rubocop-auto-correct":
    correctFile: true
  rspec:
    command: "bundle exec rspec"
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "api-docs":
    rails: true
